.body {
    height: 100vh;
    background: rgba(0, 0, 0, 0.372) url("/imgs/adminBG.png");
    background-blend-mode: difference;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Assistant",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    height: max-content;
}
