.body {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Assistant",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;

    & {
        background: rgba(255, 255, 255, 0.5) url("/imgs/background.jpg");
        background-blend-mode: lighten;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}




.decoracao {
    z-index: -10;
}
